<html>
  <head>
    <base href="{{ enter_point }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>Enrichr Visualization</title>
	<link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/selectize.bootstrap3.css">
    <link rel="stylesheet" type="text/css" href="lib/datatables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
	<header>
		<h1>Enrichr Fireworks</h1>
	</header>
	<div id="body" class="container-full">
      <canvas id="text-label"></canvas>
</div>
    <canvas id="text-label"></canvas>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    
    <script src="lib/d3.v3.min.js"></script>
    <script src="lib/d3-legend.min.js"></script>
    <script src="lib/selectize.js"></script>
    <script src="lib/datatables.js"></script>
    <script src="lib/datatables.bootstrap.js"></script>

    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script src="lib/Detector.js"></script>
    <script src="lib/stats.min.js"></script>
    
    <script src="js/textures.js"></script>
    <script src="js/scatterPlot42.js"></script>
    <script src="js/scatterWidgets42.js"></script>
	<div id="controls1"></div>
    <script>
        var result_id = "{{ result_id }}";
		var currentgraph="{{currentgraph}}";
		var currentlayout="{{currentlayout}}";
		var currenttest="{{currenttest}}";
    </script>
    <script src="js/{{ script }}.js"></script>

   
  </body>
</html>
